<!--@model IEnumerable<ECartApp.ViewModel.ShoppingViewModel>
@{
    ViewBag.Title = "Index";
}-->

<h2>Products </h2>

<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        // for debugging to find the value for the item attribute 
       // alert(itemId);
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'Post',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                    
                }
                
            },
            error: function () {
                alert("issue encountered.")
            }
        })
    }
</script>

<div class=" container-fluid">
    <h2 class="text-left">Products </h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border: 1px solid black">
            <div style="text-align:center; border-bottom: 2px solid black">
                <h3>@item.ItemName</h3>
            </div>
            <div>
                <div class="col-md-8" style="padding-top: 5px ; padding-bottom: 5px">
                   <img src="@Url.Content(@item.ImagePath)"  width="150px" height="150px"/>
                </div>
                <div class="col-md-4" style="text-align: left ; padding-top: 40px">
                    <b>@item.Description</b>
                </div>
            </div>
            <div class="col-md-8" style="font-size: 18px; border-top: 0.5px solid green  ; padding-top: 15px">
                <b>@item.ItemPrice.ToString("$#,##0.00 ")</b>
            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 0px solid maroon; padding: 2px">
                <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary"
                       itemid="@item.ItemId" id="btnAddToCart" onclick="AddToCart(this)" />
            </div>
        </div>
    }

</div>